{% extends 'blog/base.html' %}
{% block content %}
<h1>Home</h1>
{% for post in posts %}
    <div class="card mb-3">
      <small>Post Image</small>
        <img src="{{ post.post_image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="post-card-pro-img">
                <small>User Profile Image</small>
                <img src="{{ post.author.profile.user_image.url }}" alt="">
            </div>
            <div>
                <h5 class="card-title">{{ post.title }}</h5>
                <small class="text-muted"><a href="#">{{ post.author }}</a></small>
            </div>
          <p class="card-text">{{ post.content }}</p>
          <p class="card-text"><small class="text-muted">Last updated {{ post.date_posted }}</small></p>
        </div>
      </div>
{% endfor %}
{% endblock %}
