{% extends 'blog/base.html' %}
{% block content %}
{% for post in posts %}
    <div class="card mb-3">
        <img src="{{ post.post_image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <img class="rounded-circle post-card-pro-img" src="{{ post.author.profile.user_image.url }}" alt="">
          <a href="{% url 'post-detail' post.id %}"><h5 class="card-title ml-6">{{ post.title }}</h5></a>
          <small class="text-muted ml-6"><a href="#">{{ post.author }}</a></small>
          <p class="card-text ml-6">{{ post.content }}</p>
          <p class="card-text ml-6"><small class="text-muted">Last updated {{ post.date_posted }}</small></p>
        </div>
    </div>
{% endfor %}
{% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-info mb-4">First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mb-4">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
               <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-4">Last</a>
        {% endif %}

    {% endif %}
{% endblock %}
