/* Variables */
:root {
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --primary-light-color: #FFFFFF;
  --secondary-light-color: #000000;
  --primary-dark-color: #000000;
  --secondary-dark-color: #444444;
}

/* --------------------------------------------------------------------------------------------------------------------------------*/

/* Navbar */




/* --------------------------------------------------------------------------------------------------------------------------------*/

/* Footer */




/* --------------------------------------------------------------------------------------------------------------------------------*/

/* home.html */

/* Post Card */
.card-img-top {
  height: 300px;
  width: auto;
}

.post-card-pro-img {
  height: 50px;
  width: 50px;
}

.post-title {

}

.post-title:hover {

}

.post-author {

}

.post-author:hover {

}

.post-content {

}

.post-date {

}

/* --------------------------------------------------------------------------------------------------------------------------------*/
